---
//import BaseLayout  from '../layouts/BaseLayout.astro'
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="JS Refresh" stylesheet="../styles/global.css">
  <main class="grid items-center justify-center max-w-2xl gap-8">
    <h2 class="text-4xl">JS30in30</h2>
    <p>
      Shout out to JavaScript Hero Wes Bos for putting this content into the
      world
    </p>
    <ul class="p-8 border-2 border-slate-700">
      <li><a href="exercises/01/">Exercise 1: Drum Kit </a></li>
      <li><a href="exercises/02/">Exercise 2: JS Clock </a></li>
      <li><a href="exercises/03/">Exercise 3: CSS Variables & JS</a></li>
      <li><a href="exercises/04/">Exercise 4: Array Cardio</a></li>
      <li><a href="exercises/05/">Exercise 5: Flex Panel Gallery</a></li>
      <li><a href="exercises/06/">Exercise 6: AJAX look-ahead</a></li>
      <li><a href="exercises/07/">Exercise 7: Array Cardio 2</a></li>
      <li><a href="exercises/08/">Exercise 8: Fun With Canvas</a></li>
      <li><a href="exercises/09/">Exercise 9: Dev Tools 💻</a></li>
      <li>
        <a href="exercises/10/">Exercise 10: Shift-click ✅ boxes</a>
      </li>
      <li>
        <a href="exercises/12/">Exercise 12: KONAMI Code</a>
      </li>
      <li>
        <a href="exercises/13/">Exercise 13: Slide-in Scroll</a>
      </li>
      <li>
        <a href="exercises/15/">
          Exercise 15: LocalStorage & Event Delegation</a
        >
      </li>
      <li>
        <a href="exercises/16/">Exercise 16: Mouse Shadow</a>
      </li>
      <li>
        <a href="exercises/17/">Exercise 17: Removing Articles</a>
      </li>
      <li>
        <a href="exercises/18/">Exercise 18: Adding time strings 🕥</a>
      </li>
      <li>
        <a href="exercises/22">Exercise 22: Follow Along Links</a>
      </li>
      <li>
        <a href="exercises/24">Exercise 24: Sticky Nav </a>
      </li>
      <li>
        <a href="exercises/25">
          Exercise 25: Event Capture, Propagation, Bubbling and Once
        </a>
      </li>
      <li>
        <a href="exercises/26">
          Exercise 26: Stripe-esque follow along dropdown
        </a>
      </li>
      <li>
        <a href="exercises/27"> Exercise 27: Click and Drag to Scroll </a>
      </li>
      <li>
        <a href="exercises/28"> Exercise 28: Video Speed Controller UI </a>
      </li>
    </ul>

    <h2 class="font-mono text-4xl capitalize">Sandbox for intro to CS</h2>
    <p>Hey...look over in the console 👉</p>
    <p>We've got some sandbox code over there.</p>
    <p>Playing with linked lists, etc.</p>
  </main>
</BaseLayout>
<script src={Astro.resolve("linkedList.ts")}></script>
<script src={Astro.resolve("tree.ts")}></script>
